$main-font-color: white;
$background-color: rgb(48, 48, 48);
$highlight-color: rgb(243, 147, 37);
$highlight-dark-color: rgb(243, 239, 31);
$default-gradient: linear-gradient($highlight-color, $highlight-dark-color);

@mixin text-gradient {
    display: inline;
    background-image: $default-gradient;
    color: transparent;
    background-clip: text;
}

@font-face {
    font-family: Imported;
    src: url(./Cabin.ttf);
}

// @font-face {
//     font-family: ImportedItalic;
//     src: url(./Cabin-Italic.ttf);
// }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Imported, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $main-font-color;
    background-color: $background-color;
    will-change: opacity;
    animation: 0.5s linear fadeIn;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
}

body {
    margin: 0;
    padding: 25px 25vw;
    border: 7px solid;
    border-image-slice: 1;
    border-image-source: $default-gradient;
}

img {
    border-radius: 25px;
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    overflow: hidden;
}

hr {
    border-radius: 5px;
    border: 0.1px $main-font-color;
    border-style: solid;
    height: 0;
    overflow: visible;
    margin: 50px 0;
    // border: none;
}

hr::after {
    content: "❦";
    // content: "⁂";
    display: block;
    text-align: center;
    font-size: 5rem;
    margin: -50px auto;
    position: relative;
    width: 120px;
    background-color: $background-color;

}

h1,
h2 {
    @include text-gradient();
}

h1 {
    font-size: 2.3rem;
    font-variation-settings: "wght" 900;
}

h2 {
    font-size: 1.8rem;
    font-variation-settings: "wght" 800;
}

h3 {
    font-size: 1.4rem;
    font-variation-settings: "wght" 600;
}

p,
li,
a {
    font-size: 1.1rem;
    font-variation-settings: "wght" 300;
}

li {
    // list-style-type: "◦";
    list-style-type: "❥";
    padding-inline-start: 1ch;

    &::marker {
        color: $highlight-color;
    }
}

a {
    display: inline-block;
    background-color: $main-font-color;
    color: $background-color;
    padding: 5px 12px 7px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 5px;
    border-radius: 25px;
    transition: all 0.12s cubic-bezier(0.215, 0.610, 0.355, 1);

    &:hover {
        background-color: $background-color;
        color: $main-font-color;
        box-shadow: 0px 0px 0px 1px $main-font-color inset;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
    body {
        padding: 25px 5vw;
    }
}