$main-font-color: white;
$background-color: rgb(48, 48, 48);

// @font-face {
//     font-family: ImportedItalic;
//     src: url(./Cabin-Italic.ttf);
// }

@font-face {
    font-family: Imported;
    src: url(./Cabin.ttf);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Imported, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $main-font-color;
    background-color: $background-color;
    will-change: opacity;
    animation: 0.5s linear fadeIn;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
}

body {
    margin: 25px 25vw;
}

img {
    border-radius: 25px;
    width: 100%;
}

hr {
    border-radius: 5px;
    border: solid 2px $main-font-color;
}

h1 {
    font-size: 2.3rem;
    font-variation-settings: "wght" 900;
}

h2 {
    font-size: 1.8rem;
    font-variation-settings: "wght" 800;
}

h3 {
    font-size: 1.4rem;
    font-variation-settings: "wght" 600;
}

p,
li,
a {
    font-size: 1.1rem;
    font-variation-settings: "wght" 300;
}

a {
    display: inline-block;
    background-color: $main-font-color;
    color: $background-color;
    padding: 5px 12px 7px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 5px;
    border-radius: 25px;
    transition: all 0.12s cubic-bezier(0.215, 0.610, 0.355, 1);

    &:hover {
        background-color: $background-color;
        color: $main-font-color;
        box-shadow: 0px 0px 0px 1px $main-font-color inset;
    }
}