<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Informatique, design et film</title>

    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="title" content="Informatique, design et film">
    <meta name="description" content="Création de sites webs, de contenus vidéos et de contenus graphiques.">
    <meta name="keywords" content="développeur, designer, vidéaste, rennes">
    <meta name="robots" content="index, follow">
    <meta name="language" content="French">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://guillaumezaugg.fr/" />
    <meta property="og:title" content="Infomatique, design et film" />
    <meta property="og:description" content="Création de sites webs, de contenus vidéos et de contenus graphiques." />
    <meta property="og:image" content="https://guillaumezaugg.fr/logo.webp" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://guillaumezaugg.fr/" />
    <meta property="twitter:title" content="Informatique, design et film" />
    <meta property="twitter:description"
        content="Création de sites webs, de contenus vidéos et de contenus graphiques." />
    <meta property="twitter:image" content="https://guillaumezaugg.fr/logo.webp" />

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Guillaume Zaugg, infomatique, design et film",
      "image": "https://guillaumezaugg.fr/favicon-32x32.png",
      "logo": "https://guillaumezaugg.fr/tiki-mediation-logo.webp",
      "description": "Création de sites webs, de contenus vidéos et de contenus graphiques.",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Rennes",
        "postalCode": "35000",
        "addressCountry": "FR"
      },
      "telephone": "+33 7 82 64 20 33",
      "email": "contact@tikiservices.fr",
      "url": "https://tiki-mediation-animale.fr",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "09:00",
          "closes": "19:00"
        }
      ]
    }
  </script>
</head>

<body>
    {% block content %} {% endblock %}
</body>

</html>